
.title{
    background-color: rgba(0, 0, 0, 0.575);
    color: white;
}

.model{
    height: 20rem;
    width: 20rem;
    object-fit: contain;
}
.wearGlass{
    position: relative;
}

.glassModel{
    position: absolute;
    width: 150px;
    top: 82px;
    left: 100px;
}